*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
}

#app {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
	background: #1a1a1a;
	color: white;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	line-height: 2;
}

button {
	background: #00796b;
	border-radius: 4px;
	padding: 7px 20px;
	border: 1px solid #00a38d;
	color: white;
	font-size: 14px;
	cursor: pointer;
	font-weight: 600;
	transition: all 0.2s ease;
}

button:hover {
	background: #00695c;
}

button:active {
	border-color: #1de9b6;
}

button:focus {
	box-shadow: 0px 0px 0px 4px #00786ab0;
}

code {
	font-family: monospace;
	font-size: inherit;
}

.gray {
	color: #616161;
}

#app {
	max-width: 800px;
	margin: auto;
	padding: 24px;
}

body {
	background: #1a1a1a;
}

.mt-2 {
	margin-top: 8px;
}

.level-parent {
	display: block;
}

.level {
	background: #00897b;
	font-size: 14px;
	padding: 2px 10px;
	border-radius: 100px;
	min-width: 53px;
	display: inline-block;
	text-align: center;
}

.level-title {
	font-size: 24px;
	margin-top: 8px;
}

.level-desc {
	color: #757575;
	font-size: 17px;
}

.runner {
	border: 1px solid #2a2a2a;
	margin-top: 15px;
	padding: 15px;
	border-radius: 4px;
	display: flex;
}

.runner-left {
	flex: 1;
	margin-right: 13px;
}

.runner-right {
	flex: 1;
}

.runner-subheading {
	font-size: 13px;
	font-variant: small-caps;
}

input {
	width: 100%;
	padding: 10px;
	margin: 20px 0px;
	border: none;
	border-radius: 4px;
	font-size: 17px;
	background: #222;
	color: white;
}

input:focus {
	outline: 1px solid #2a2929;
	outline-offset: 8px;
	background: #272727;
}

input:hover {
	background: #272727;
}

.runner:focus-within {
	border-color: #323232;
}

.runner-result {
	background: #272727;
	min-height: 40px;
	margin-top: 20px;
	border-radius: 4px;
	padding: 10px;
	font-family: monospace;
	border: 1px solid transparent;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	height: 100%;
	width: 100%;
	opacity: 0;
	background: #000c;
}

.modal {
	position: fixed;
	top: 50%;
	z-index: 99;
	left: 50%;
	opacity: 0;
	transform: translate(-50%, -50%);
	background: #1b1919;
	border-radius: 10px;
	padding: 27px 25px;
}

.runner-checkbox {
	display: inline-flex;
	width: 113px;
	position: relative;
	appearance: none;
	justify-content: center;
	align-items: center;
	height: 31px;
	cursor: pointer;
}

.runner-checkbox::after {
	content: attr(name);
	position: absolute;
	background: transparent;
	font-size: 14px;
	pointer-events: none;
}

.runner-checkbox:checked:after {
	color: #00b7ff;
}

.runner-checkbox:checked {
	border: 1px solid #03b8ffd6;
	opacity: 1;
}

.level-parent code {
	background: #2f2f2f;
	color: #d0d0d0;
	border-radius: 4px;
	font-size: 13px;
	padding: 4px 8px;
	box-shadow: inset 1px 1px 1px #515151, inset -1px -1px 1px #1b1b1b;
	user-select: none;
}
